<style type="text/css">
		
		*{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		 text-align: center;
		 font-size: 125%;
		}
		
		body{background-image: url("raindrop.gif");	
		}
		
		.me {text-weight: bold;
		font-size: 200%;
		}

		p:hover, q:hover {background-color: #9C2226;
			color:#fff;
			transition: all .2s ease-in-out;
		}
		
		blockquote {display: block;
			border-bottom: double;
			border-top: double;
		}	

		.river:hover {text-decoration: line-through;
		text-decoration-color: black;
		}
	    		
		.river {font-size: 150%;
			
		}

		.tooltip {position: relative;
   			 display: inline-block;
    		border-bottom: 1px dotted black;
			
		#signUpBox:hover {background-color: #ffffff;}
			
	</style>@charset "UTF-8";
/* CSS Document */

